.booking-info-niches{
  .columbarium-niches{
    .wrapper-btn{
      margin-right: 32px;
      .btn{
        background: $arboretim;
        color: $white;
        font-size: 16px;
      }
      .btn-extension{
        width: 130px;
        height: 39px;
      }
      .btn-save{
        width: 174px;
        height: 39px;
      }
    }
  }
}