// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$arboretim: #71C5A1;
$white: #ffffff;
$black: #000000;

$gray-200: #FAFAFA;
$gray-600: #666666;
$gray-800: #333333;
// scss for page
@import './pages/style.scss';

// scss for components
@import './components/styles.scss';

// custom
@import './custom_table';
@import './custom_checkbox';
@import './custom_modal';