.size-12{ font-size: 12px !important; }
.size-13{ font-size: 13px !important; }
.size-14{ font-size: 14px !important; }
.size-15{ font-size: 15px !important; }
.size-16{ font-size: 16px !important; }
.size-17{ font-size: 17px !important; }
.size-35{ font-size: 35px !important; }
.size-20{ font-size: 20px !important; }
.size-30{ font-size: 30px !important; }
.size-35{ font-size: 35px !important; }
